.nav-link {
  color: #ffffff !important;

  &.active {
    font-weight: bold !important;
  }
}

.navbar {
  background-color: #0069D9 !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
